{% extends "base.html" %}
{% block title %}Bilibili Danmu Records - Admin{% endblock %}

{% block navbar_container %}
<a class="navbar-brand" href="#">⭐</a>

<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nav-items" aria-controls="nav-items"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
</button>

<div class="collapse navbar-collapse" id="nav-items">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item">
            <a class="nav-link" href="/"> 首页 </a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="/admin"> 管理 </a>
        </li>
    </ul>
</div>

{% endblock %}

{% block content %}
<div class="container">

    {% for message in get_flashed_messages(with_categories=True) %}
    <div class="alert alert-{{ message[0] }} mt-2">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ message[1] }}
    </div>
    {% endfor %}

    <form class="form-inline mt-2 mb-2" onsubmit="return sub();">
        <div class="form-group mr-2">
            <input type="int" class="form-control" id="input-room-id" placeholder="房间 ID">
        </div>
        <div class="btn btn-primary" onclick="sub()">新增监控</div>
    </form>

    <table class="table">
        <!-- <caption>监控列表</caption> -->
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">房间号</th>
                <th scope="col">主播</th>
                <th scope="col">上一条</th>
                <th scope="col">标题</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            {% for room in rooms %}
            <tr room={{room.id}}>
                <th scope="row">{{loop.index}}</th>
                <td>{{room.id}}</td>
                <td>{{room.host}}</td>
                {% if room.lastTime is none %}
                <td>无记录</td>
                {% else %}
                <td>{{moment(room.lastTime).fromNow(refresh=True)}}</td>
                {% endif %}
                <td>{{room.title}}</td>
                <td class="delete">
                    <span style="cursor:pointer">❌ </span>
                </td>
            </tr>
            {% endfor %}

            <tr>

            </tr>
        </tbody>
    </table>

</div>
{% endblock %}

{% block scripts %}
{{ super() }}
{{ moment.include_jquery() }}
{{ moment.include_moment() }}
{{ moment.lang('zh-CN') }}
<script>
    function sub() {
        let roomid = $('#input-room-id').val();
        console.log(roomid);
        if (!roomid) {
            alert("room id 非法.");
            return;
        }
        $.post(
            '/room/' + $('#input-room-id').val(),
            function (data) {
                window.location.reload();
            }
        );
    }
    $('table').on('click', '.delete', function () {
        let roomid = $(this).parent('tr').attr('room');
        console.log(roomid);
        $.ajax({
            url: '/room/' + roomid,
            type: 'DELETE',
            success: function (data) {
                window.location.reload();
            }
        });
    })
</script>
{% endblock %}