{% extends "base.html" %}
{% block title %}Bilibili Danmu Records{% endblock %}

{% block navbar %}
<nav class="navbar navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="#">⭐</a>
        <span class="nav-text text-white">总数量: {{total_num}}</>
    </div>
</nav>
{% endblock %}

{% block content %}
<div class="container">
    <table class="table">
        <caption>Latest Records</caption>
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">时间</th>
                <th scope="col">直播间</th>
                <th scope="col">用户</th>
                <th scope="col">发言</th>
            </tr>
        </thead>
        <tbody>
            
        {% for danmu in danmus %}
            <tr>
                <th scope="row">{{loop.index}}</th>
                <td>{{moment(danmu.time).fromNow(refresh=True)}}</td>
                <td>{{danmu.room_id}}</td>
                <td>{{danmu.uname}}</td>
                <td>{{danmu.msg}}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <p>
        <a class="btn btn-light" data-toggle="collapse" href="#collapseDiv" role="button" aria-expanded="false" aria-controls="collapseDiv">
            Show help
        </a>
    </p>
    <div class="collapse" id="collapseDiv">
        <div class="card card-body">
            <h4>url query args:</h4>
            <p>limit: int, max number of items,</p>
            <p>room_id: int, room id,</p>
            <p>uname: str, user name,</p>
            <p>regexp: str, regular expression for msg to match,</p>
            <p>start_date: str, format yyyy-mm-dd,</p>
            <p>end_date: str, format yyyy-mm-dd,</p>
            <p>days_limit: int, the length of the time duration to be queried in days.</p>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    {{ moment.include_jquery() }}
    {{ moment.include_moment() }}
    {{ moment.lang('zh-CN') }}
{% endblock %}