{% extends "base.html" %}
{% block title %}Bilibili Danmu Records{% endblock %}

{% block style %}
{{super()}}
<style>
#plot-main{
    height: 240px;
    width: 360px;
}
@media(min-width: 576px){
#plot-main{
    height: 360px;
    width: 520px;
}}
@media(min-width: 768px){
#plot-main{
    height: 360px;
    width: 720px;
}}
@media(min-width: 992px){
#plot-main{
    height: 400px;
    width: 920px;
}}
@media(min-width: 1200px){
#plot-main{
    height: 400px;
    width: 1120px;
}}


</style>
{% endblock %}

{% block navbar %}
<nav class="navbar navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="#">⭐</a>
        <span class="nav-text text-white">总数量: {{total_num}}</>
    </div>
</nav>
{% endblock %}

{% block content %}
<div class="container">
    <p class='mt-2'>
        <a class="btn btn-light" data-toggle="collapse" href="#collapsePlot" role="button" aria-expanded="false" aria-controls="collapsePlot">
            Show time plot
        </a>
    </p>
    <div class="collapse" id="collapsePlot">
        <div class="card card-body" id="plot-main">
        </div>
    </div>

    <table class="table">
        <caption>Latest Records</caption>
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">时间</th>
                <th scope="col">直播间</th>
                <th scope="col">用户</th>
                <th scope="col">发言</th>
            </tr>
        </thead>
        <tbody>
            
        {% for danmu in danmus %}
            <tr>
                <th scope="row">{{loop.index}}</th>
                <td>{{moment(danmu.time).fromNow(refresh=True)}}</td>
                <td>{{danmu.room_id}}</td>
                <td>{{danmu.uname}}</td>
                <td>{{danmu.msg}}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <p>
        <a class="btn btn-light" data-toggle="collapse" href="#collapseDiv" role="button" aria-expanded="false" aria-controls="collapseDiv">
            Show help
        </a>
    </p>
    <div class="collapse" id="collapseDiv">
        <div class="card card-body">
            <h4>url query args:</h4>
            <p>limit: int, max number of items,</p>
            <p>room_id: int, room id,</p>
            <p>uname: str, user name,</p>
            <p>regexp: str, regular expression for msg to match,</p>
            <p>start_date: str, format yyyy-mm-dd,</p>
            <p>end_date: str, format yyyy-mm-dd,</p>
            <p>days_limit: int, the length of the time duration to be queried in days.</p>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="{{ url_for('static', filename='js/echarts.common.min.js') }}"></script>
    {{ moment.include_jquery() }}
    {{ moment.include_moment() }}
    {{ moment.lang('zh-CN') }}

    <script>
    var myChart = echarts.init(document.getElementById('plot-main'));
    var data = JSON.parse("{{ time_info | safe}}");
    var option = {
        xAxis: {
            type: 'time',
            splitLine: {
                show: false
            }
        },
        yAxis: {
            type: 'value',
            splitLine: {
                show: true
            }
        },
        tooltip: {
            trigger: 'axis',
            formatter: function (params) {
                params = params[0];
                var date = new Date(params.value[0]);
                return '(' + (date.getMonth() + 1) + '/' + date.getDate() + ' ' + date.getHours() + ':' + date.getMinutes() + ') : ' + params.value[1];
            },
            axisPointer: {
                animation: false
            }
        },
        series: [{
            type: 'line',
            smooth: false,
            showSymbol: false,
            hoverAnimation: false,
            data: data
        }]
    };
    myChart.setOption(option);
    </script>
{% endblock %}